.layout {
  height: 100%;
}

.header {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-size: 18px;
  font-weight: bold;
  font-family: monospace;
}

.title {
  margin: 0;
}

.content {
  padding: 8px;
}

.errors {
  list-style: none;
}

.position {
  font-weight: bold;
  color: cornflowerblue;
}

.message {
  margin-left: 8px;
  color: rgb(197, 87, 87);
}
